{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Deadpool</h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
             Doloribus enim quis quas odio amet illum necessitatibus 
             laudantium sequi culpa fugiat mollitia aspernatur tempore harum, 
             illo delectus veniam quam sed ipsam?
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/deadpool.jpg" class="img-thumbnail">
    </div>
</div>
    

{{> footer }}